/* top-bar */
.me-4{
    font-family: 'Alatsi';
    font-size: 22px;
}
/* ** */
/* navabr */
.fonttag{
    font-family: 'Aoboshi One';
    transition: 0.3s;
}
.navbar .navbar-nav .nav-link:hover{
    color: rgb(255, 0, 0);
}

/* *** */

/* navbar logo */
.logo{
    height: 120%;
    width: 200px;
}
/* end */
.uptag{
    text-align: center;
    margin-top: 2%;
}
.tagsize p{
    text-align: center;
    font-size: 12px;
}
/* *** */
.footer{
    background: #13181c;
    height: auto;
    margin-top: 4%;
  
}
.lgo{
    height: 60px;
    margin-top: 30%;
   
}
.footer h4{
    margin-top: 30%;
    margin-left: 4%;
    font-size: 30px;
    font-family: 'Alatsi';
    color: white;
}
.footer p{
    color: white;
    margin-top: 3%;
    margin-left: 3%;
}
.footer ul li{
    color: white;
}
/* *** */
/* another-footer */
.another-footer{
    background: #07090a;
    height: auto;
   
}
.another-footer p{
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 2%;
    margin-bottom: 2%;
}